@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,500&display=swap');

:root {
    --green: #00E77F;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

.heading {
    text-align: center;
    color: red;
    font-size: 2rem;
}

span {
    color: blue;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: wheat;
}

.header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: black;
}

.header .flex .navbar a {
    margin-left: 2rem;
    color: black;
    font-size: 2rem;
}

.header .flex .navbar a:hover {
    color: #40e0ff;
}

#menu-btn {
    cursor: pointer;
    color: black;
    font-size: 2.5rem;
    display: none;
}

.content h3 {
    text-align: center;
    margin-top: 10rem;
    color: red;
    font-size: 10rem;
}

.content span {
    color: blue;
}

.swiper-pagination-bullet {
    background-color: #ff9d00;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.breeds .slide {
    background-color: blanchedalmond;
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
}

.breeds .slide img {
    height: 25rem;
    width: 100%;
}

.breeds .slide h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}

.breeds .slide p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}

.know .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}

.know .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
}

.know .row .content {
    text-align: center;
    flex: 1 1 40rem;
}

.know .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}

.know .row .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}

.btn-know {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn-know:hover {
    background-color: var(--white);
    color: var(--black);
}











@media(max-width: 1440px){
    html {
        font-size: 60%;
    }
}

@media (max-width: 1024px) {    
    html {
        font-size: 55%;
    }
    
}

@media (max-width: 768px) {    
    #menu-btn {
        display: inline-block;
    }
    
    #menu-btn.fa-times {
        transform: rotate(90deg);
    }
    
    .header .flex .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: .1rem solid var(--light-white);
        border-bottom: .1rem solid var(--light-white);
        background-color: blanchedalmond;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    } 
    
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    } 
   
}

















/*  FEEDBACK STYLE START */
.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
  margin: auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
/* FEEDBACK STYLE END */








/* FOOTER STYLE START */
.footer-distributed{
	background: wheat;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* logo */

.footer-distributed h3{
	color:  black;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #53535b;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #3fbebe;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #3fbebe;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* FOOTER STYLE END */